  /*载入字体*/
  @font-face {
      font-family: 'JournalRegular';
      src: url('../fonts/journal-webfont.eot');
      src: url('../fonts/journal-webfont_162a16fe.eot') format('embedded-opentype'), url('../fonts/journal-webfont.woff') format('woff'), url('../fonts/journal-webfont.ttf') format('truetype'), url('./fonts/journal-webfont.svg') format('svg');
      font-weight: normal;
      font-style: normal;
  }
  
  .carousel-fade .carousel-inner .item {
      opacity: 0;
      -webkit-transition-property: opacity;
      -moz-transition-property: opacity;
      -ms-transition-property: opacity;
      -o-transition-property: opacity;
      transition-property: opacity;
  }
  
  .carousel-fade .carousel-inner .active {
      opacity: 1;
  }
  
  .carousel-fade .carousel-inner .active.left,
  .carousel-fade .carousel-inner .active.right {
      left: 0;
      opacity: 0;
  }
  
  .carousel-fade .carousel-inner .next.left,
  .carousel-fade .carousel-inner .prev.right {
      opacity: 1;
  }
  
  .carousel-position {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
  }
  
  .mask {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      opacity: 0.05;
      background-color: black;
  }
  
  .front {
      border: 5px solid red;
      width: 100%;
      height: 100%;
  }
  
  .container {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 3;
  }
  
  .small-title {
      color: gray;
      line-height: 0.5rem;
      font-size: 10px;
  }
  
  .modal-content {
      background: #040404;
  }
  
  .time-font {
      color: #fff;
  }
  .typing {
    width: 15em;
    white-space: nowrap;
    border-right: 2px solid transparent;
    text-align: center;
    animation: blink-caret .75s step-end infinite;
    overflow: hidden;
}
/* 打印效果 */
@keyframes typing {
  from { width: 0; }
  to { width: 15em; }
}
/* 光标闪啊闪 */
@keyframes blink-caret {
  from, to { box-shadow: 1px 0 0 0 transparent; }
  50% { box-shadow: 1px 0 0 0; }
}